/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif; */
}
h1,
h2 {
  font-size: 4rem;
  font-weight: 600;
}
.honda-btn {
  background: #e76f51;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  font-weight: 500;
}
.honda-btn:hover {
  color: #e0e0e0;
}

.honda-header-bg {
  background: #264653;
}
#header-banner {
  padding-top: 9.375rem;
  padding-bottom: 6rem;
}
#header-banner p {
  color: #e0e0e0;
  font-weight: 300;
}
.honda-btn-banner {
  padding: 10px 46px;
}
.honda-text-primary {
  color: #e76f51;
  font-weight: 600;
}
.honda-grayscale {
  filter: grayscale(90%);
}

/* Some extra media queris beside bootstrap */
@media only screen and (min-width: 991px) {
  .honda-feature-bikes {
    margin-top: 116px !important;
    margin-bottom: 165px;
  }
}

@media only screen and (max-width: 767px) {
  .honda-sm-mb {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 576px) {
  .honda-modal-btn {
    font-size: 0.8rem;
  }
}
