/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
h1,
h2 {
  font-size: 4rem;
  font-weight: 600;
}
h4 {
  font-weight: 600;
  color: #18191f;
}
.honda-btn {
  background: #e76f51;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  font-weight: 500;
}
.honda-btn:hover {
  color: #e0e0e0;
}
.honda-menu-item {
  font-weight: 500;
}
.honda-header {
  background: #264653;
  margin-bottom: 4rem;
}
#header-banner {
  padding-top: 4.5rem;
  padding-bottom: 6rem;
}
#header-banner p {
  color: #e0e0e0;
  font-weight: 300;
}
.honda-btn-banner {
  padding: 10px 46px;
}
.honda-text-primary {
  color: #e76f51;
  font-weight: 600;
}
.honda-grayscale {
  filter: grayscale(90%);
}
.honda-btn-blog {
  padding: 15px;
  font-weight: 500;
}
.honda-card-padding {
  padding: 20px;
}
.honda-box-shadow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}
.honda-latest-news {
  margin-bottom: 160px;
}
.honda-happy-clients {
  margin-bottom: 9.375rem;
}
.honda-client-photo {
  width: 149px;
  height: 149px;
}
.honda-client-card {
  padding: 2.5rem 2.1875rem;
}
.hond-client-rating i {
  color: #e76f51;
}
.honda-text-secondary {
  color: #23a6f0;
  font-weight: 600;
}
.honda-text-bold {
  font-weight: 600;
}
.honda-client-border {
  border: 1px solid #dedede;
}
.honda-faq-section {
  margin-bottom: 8.75rem;
}
.honda-faq {
  font-family: "Inter", sans-serif;
}
.honda-faq-question {
  font-weight: 500;
  font-size: 1.25rem;
  color: #383838;
  line-height: 1.75rem;
}
.honda-faq-answer {
  line-height: 1.75rem;
  color: #7e848c;
}
.honda-faq-border {
  border: 1px solid #d5e5fb !important;
  border-radius: 5px;
}

.honda-about-us p {
  text-align: justify;
}
#footer {
  background: #0b0d17;
  padding-top: 3.5rem;
  padding-bottom: 6rem;
  font-family: "Manrope", sans-serif;
}
.text-footer {
  color: #d9dbe1;
}

/* Some extra media queris beside bootstrap */
@media only screen and (min-width: 991px) {
  .honda-feature-bikes {
    margin-top: 116px !important;
    margin-bottom: 165px;
  }
}
@media only screen and (max-width: 767px) {
  .honda-sm-mb {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 576px) {
  .honda-header,
  .faq-section {
    margin-bottom: 8.75rem;
  }
  .honda-modal-btn {
    font-size: 0.8rem;
  }
  .honda-latest-news {
    margin-bottom: 5rem;
  }
  .honda-happy-clients {
    margin-bottom: 4rem;
  }
  .honda-faq-section {
    margin-bottom: 4rem;
  }
  .honda-margin-sm {
    margin-top: 4rem;
  }
  .honda-footer-wraper {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .honda-footer-right {
    margin-left: 1rem;
  }
  .copy-right {
    display: none;
  }
  .copy-right-2 {
    display: block !important;
    margin-top: 50px;
  }
  #footer {
    padding-top: 4.5rem;
    padding-bottom: 2.5rem;
  }
}
